/lib/*.ppu
/lib/*.a
/lib/*.o
/UPedit
/backup
/eft
/list
/music
/primaries
/resource
/save
/sound
/tmp
/*.dproj
/*.a
/*.compiled
/*.dbg
/*.dpr
/Promise_Config.exe
/kys_promise.ico
/kys_promise.exe
/kys_promise.lps
/kysmod.ini
